/* Header e Navegação */
.header {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-heading);
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: var(--light-text-color);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--light-text-color);
    cursor: pointer;
}


/* Responsividade para Header */
@media (max-width: 768px) {
    .header .container {
        justify-content: space-between;
        align-items: center;
        text-align: initial;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--primary-color);
        position: absolute;
        top: 60px; /* Ajuste para ficar abaixo do header */
        left: 0;
        z-index: -1001; /* Valor baixo para ir para trás */
        transform: translateY(-150%);
        transition: transform 0.5s ease-out;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
