<p-header>
  <span class="ql-formats">
    <select class="ql-header">
      <option value="1">Título 1</option>
      <option value="2">Título 2</option>
      <option value="3">Título 3</option>
      <option selected>Normal</option>
    </select>
    <select class="ql-font"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-bold" aria-label="Negrito"></button>
    <button class="ql-italic" aria-label="Itálico"></button>
    <button class="ql-underline" aria-label="Sublinhado"></button>
    <button class="ql-strike" aria-label="Tachado"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered" aria-label="Lista Ordenada"></button>
    <button class="ql-list" value="bullet" aria-label="Lista com Marcadores"></button>
    <select class="ql-align"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-link" aria-label="Inserir Link"></button>
    <button class="ql-image" aria-label="Inserir Imagem"></button>
    <button class="ql-video" aria-label="Inserir Vídeo"></button>
    <button class="ql-blockquote" aria-label="Citação"></button>
    <button class="ql-code-block" aria-label="Bloco de Código"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-clean" aria-label="Limpar Formatação"></button>
  </span>
</p-header>
