<main class="post-page">
  <div class="container">
    <header class="post-header">
      <h1 class="post-title">Projetos</h1>
      <p class="post-meta">Uma coleção de projetos acadêmicos e pessoais.</p>
    </header>
    <div class="portfolio-grid">
      @for (project of projects; track project.id) {
      <div class="portfolio-item">
        @if (project.imagem) {
        <img [src]="project.imagem" [alt]="project.titulo" class="post-image" />
        }
        <h3>{{ project.titulo }}</h3>
        <p class="description">{{ project.descricao }}</p>

        @if (project.link_externo) {
        <a [href]="project.link_externo" target="_blank" class="btn"
          >Ver Projeto</a
        >
        }
      </div>
      }
    </div>
    <footer class="post-footer">
      <a routerLink="/home" class="btn">Voltar à Página Inicial</a>
    </footer>
  </div>
</main>
